<h1><i class="glyphicon glyphicon-grain"></i>About Us</h1>

<p>I am a youth site This site is my first site
Let me introduce myself to a young man in Japan, my hobby is studying programming
I like programming very much, it's fun.
My dream is to be an excellent programmer and I want to be a sort of thing that can change the foundation of the world, I will not spare no effort to do so.
However, I am close to an amateur for about 3 months after I started studying programming.
Functions are still small, so many things I have to improve are also many, but I will show you it is completed
Since beginners made it, there are many unhappy places, but I want you to look at the ogle
This site can be used like a diary or blog. It's a site I made for such use
I wanted to attach a function that can draw profiles and pictures at the beginning, but my knowledge was scarce and I gave up this time.
But after that I would like to add the above functions. I also want to add other functions.
Is not it better to improve here? I would like you to send me if you have an opinion.
So I will study so that I can upgrade this site from now on
Thank you.
May your life be enriching on my site
I wrote it in English because that one is cool
I will write this in 2017.
</p>
