/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(smart.css) screen and (max-width: 640px);

#header{
  margin: 0px 0px 0px 69px;
}

body {
  margin: 0;
  background-image: image-url("middle.jpg");
  font-family: HelveticaNeue, Arial, Sans-serif;
}

#main{
  height:auto;
  padding: 50px 100px;
  margin: 100px 80px;
}

h1, h2{
  color: #800000;
  margin-left: -10px;
}

.list{
  margin: 0px 250px auto;
  margin-top: -85px;
}

li{
  list-style: none;
  font-size: 28px;
  font-weight: bold;
  float: left;
  padding: 15px;
}

#logo{
  font-size: 50px;
  font-weight: 50px;
}

a,
a:-webkit-any-link {
  color: #d2691e;
}

#catchcopy{
  margin-top: -10px;
  color: #fff;
}

.tweets{
  margin-left: -30px;
}

.copy{
  margin-left: 40px;
}

/******* SEVEN B (Arc) *******/

.sevenb .shape.a {
  animation: sevenb 3s infinite linear;
  top: calc(50% - 2em);
  left: calc(50% - 9em);
  transform-origin: 10em 50%;
}
.sevenb .shape.b {
  animation: sevenb 6s infinite linear reverse;
  background-color: yellow;
  width: 2em;
  height: 2em;
  left: calc(50% - 1em);
  top: calc(50% - 1em);
}

@keyframes sevenb {
  100% {
    transform: rotateZ(360deg);
  }
}

/* General styling */
.shape {
  background: #2d97db;
  border: 1em solid #fff;
  width: 4em;
  height: 4em;
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 2em);
}
